/* General */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f9fc;
  color: #333;
  transition: 0.3s ease;
}

/* Layout */
.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #fff;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.sidebar h2 {
  color: #7c4fb6;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  margin: 6px 0;
  transition: 0.3s;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background: #7c4fb6;
  color: #fff;
}

.toggle-mode {
  margin-top: 20px;
  width: 100%;
  padding: 8px;
  border: none;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topbar input {
  padding: 6px 12px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 50px;
}

.card {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  text-align: center;
  transition: transform 0.3s;
}

.card span {
  display: block;
  margin-top:15px;
  font-size: 1.5em;
  color: #7c4fb6;
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
}

/* Content Boxes */
.content {
  display: flex;
  gap: 20px;
}
/* Sidebar Logo */
.sidebar .logo img {
  width: 120px;   /* adjust size */
  height: auto;
  display: block;
  margin: 0 auto 20px; /* center + bottom space */
}
.box {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.add-btn {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background: #7c4fb6;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #4e2d79;
}

